In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:DataEng007@127.0.0.1/sparkifydb

'Connected: postgres@sparkifydb'

In [3]:
%sql SELECT * from songplays LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(516, datetime.datetime(2018, 11, 21, 23, 57, 45, 796000), 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 21, 0, 57, 58, 796000), 80, 'paid', None, None, 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 21, 0, 58, 41, 796000), 97, 'paid', None, None, 671, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (8, datetime.datetime(2018, 11, 21, 1, 2, 5, 796000), 97, 'paid', None, None, 671, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (9, datetime.datetime(2018, 11, 21, 1, 3, 13, 796000), 80, 'paid', None, None, 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [4]:
%sql SELECT * from users LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(40, 'Tucker', 'Garrison', 'M', 'free'),
 (74, 'Braden', 'Parker', 'M', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free'),
 (80, 'Tegan', 'Levine', 'F', 'paid'),
 (89, 'Kynnedi', 'Sanchez', 'F', 'free')]

In [5]:
%sql SELECT * from songs LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.035),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.606),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.404),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57),
 ('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.932)]

In [6]:
%sql SELECT * from artists;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
69 rows affected.

[('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.1497, -90.0489),
 ('ARXR32B1187FB57099', 'Gob', '', nan, nan),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.2196, -80.0195),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan),
 ('ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', 38.8991, -77.029),
 ('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', nan, nan),
 ('ARL7K851187B99ACD2', 'Andy Andy', '', nan, nan),
 ('ARHHO3O1187B989413', 'Bob Azzam', '', nan, nan),
 ('ARNPAGP1241B9C7FD4', 'lextrical', '', nan, nan),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', 37.1679, -95.845),
 ('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', nan, nan),
 ('ARYKCQI1187FB3B18F', 'Tesla', '', nan, nan),
 ('ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', 34.3111, -94.0298),
 ('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', 43.6486, -79.3853),
 ('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', nan, nan),
 ('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 32.6783, -83.223),
 ('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', 40.732, -74.1742),
 ('AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', 40.792, -73.9451),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.9402, -82.3255),
 ('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', 37.8372, -94.3587),
 ('AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', 49.8039, 15.4749),
 ('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', 30.0861, -94.1016),
 ('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', 40.8262, -74.4799),
 ('ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', 41.8842, -87.6324),
 ('AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', nan, nan),
 ('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 40.7038, -73.8317),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', nan, nan),
 ('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', nan, nan),
 ('ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', 37.7792, -122.42),
 ('ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', 51.5063, -0.12714),
 ('ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', 40.9947, -77.6045),
 ('AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', nan, nan),
 ('AROGWRA122988FEE45', 'Christos Dantis', '', nan, nan),
 ('AREDBBQ1187B98AFF5', 'Eddie Calvert', '', nan, nan),
 ('AR7ZKHQ1187B98DD73', 'Glad', '', nan, nan),
 ('ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', 40.7146, -74.0071),
 ('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', 28.5382, -81.3774),
 ('ARKULSX1187FB45F84', 'Trafik', 'Utah', 39.4997, -111.547),
 ('AR7SMBG1187B9B9066', 'Los Manolos', '', nan, nan),
 ('ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', 36.1678, -86.7784),
 ('ARGSAFR1269FB35070', 'Blingtones', '', nan, nan),
 ('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', 45.8073, 15.9676),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', nan, nan),
 ('AREDL271187FB40F44', 'Soul Mekanik', '', nan, nan),
 ('AR62SOJ1187FB47BB5', 'Chase & Status', '', nan, nan),
 ('ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', nan, nan),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', nan, nan),
 ('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', nan, nan),
 ('ARBGXIG122988F409D', 'Steel Rain', 'California - SF', 37.7792, -122.42),
 ('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', 56.2761, 9.51695),
 ('ARVBRGZ1187FB4675A', 'Gwen Stefani', '', nan, nan),
 ('AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', -13.442, -41.9952),
 ('ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', 41.8842, -87.6324),
 ('ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', 32.7486, -97.3292),
 ('ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', nan, nan),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', 8.4177, -80.1128),
 ('ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', 40.7909, -73.9664),
 ('AR558FS1187FB45658', '40 Grit', '', nan, nan),
 ('AR051KA1187B98B2FF', 'Wilks', '', nan, nan),
 ('ARJIE2Y1187B994AB7', 'Line Renaud', '', nan, nan),
 ('ARULZCI1241B9C8611', 'Luna Orbit Project', '', nan, nan),
 ('AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan)]

In [7]:
%sql SELECT * from time LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 21, 0, 57, 58, 796000), 0, 21, 47, 11, 2018, 2),
 (datetime.datetime(2018, 11, 21, 0, 58, 41, 796000), 0, 21, 47, 11, 2018, 2),
 (datetime.datetime(2018, 11, 21, 1, 2, 5, 796000), 1, 21, 47, 11, 2018, 2),
 (datetime.datetime(2018, 11, 21, 1, 3, 13, 796000), 1, 21, 47, 11, 2018, 2),
 (datetime.datetime(2018, 11, 21, 1, 5, 29, 796000), 1, 21, 47, 11, 2018, 2)]