In [1]:
import cassandra

In [2]:


from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

In [3]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [4]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [5]:
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY (year, artist_name, album_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [6]:
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

In [9]:
query = "SELECT * from music_library where year = 1965"
try:
    rows = session.execute(query)
except Exception as e:
    print (e)
    
for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1965 The Beatles Rubber Soul Oxford
1965 The Who My Generation London

In [10]:
query = "SELECT * from music_library where year = 1965 and artist_name = 'The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print (e)
    
for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1965 The Beatles Rubber Soul Oxford

In [11]:
query = "SELECT * from music_library where city = 'London'"
try:
    rows = session.execute(query)
except Exception as e:
    print (e)
    
for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [14]:
query = "SELECT city from music_library where year = 1965 and artist_name = 'The Who'"
try:
    rows = session.execute(query)
except Exception as e:
    print (e)
    
for row in rows:
    print(row.city)

London

In [15]:
query = "select city from music_library where album_name = 'Rubber Soul'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.city)

Error from server: code=2200 [Invalid query] message="PRIMARY KEY column "album_name" cannot be restricted as preceding column "artist_name" is not restricted"

In [17]:
query = "select city from music_library where year = 1965 and artist_name = 'The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.city)

Oxford

In [18]:


session.shutdown()
cluster.shutdown()