UsageError: Cell magic `%%sql` not found.

In [2]:
import sql
%reload_ext sql
DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = '[Rangashri123]'
DB_PORT = '5432'

#postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}"\
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)
print(conn_string)
%sql $conn_string

postgresql://postgres:[Rangashri123]@127.0.0.1:5432/pagila

'Connected: postgres@pagila'

In [4]:
%%sql
SELECT SUM(fs.sales_amount) as Grand_Total_revenue
FROM factsales fs

 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.

[(Decimal('66205.30'),)]

In [5]:
%%sql
SELECT ds.country, SUM(fs.sales_amount) as revenue
FROM factsales fs
JOIN dimstore ds ON (fs.store_key = ds.store_key)
GROUP BY ds.country

 * postgresql://postgres:***@127.0.0.1:5432/pagila
2 rows affected.

[('Canada', Decimal('33046.16')), ('Australia', Decimal('33159.14'))]

In [8]:
%%sql
SELECT dd.month, SUM(fs.sales_amount) as revenue
FROM factsales fs
JOIN dimDate dd ON (dd.date_key = fs.date_key)
GROUP BY dd.month
ORDER BY dd.month asc, revenue DESC

 * postgresql://postgres:***@127.0.0.1:5432/pagila
5 rows affected.

[(1, Decimal('4745.62')),
 (2, Decimal('9631.88')),
 (3, Decimal('23886.56')),
 (4, Decimal('27427.06')),
 (5, Decimal('514.18'))]

In [9]:
%%sql
SELECT dd.month, ds.country, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimstore ds ON fs.store_key = ds.store_key
GROUP BY dd.month, ds.country
ORDER BY dd.month asc, ds.country asc, revenue DESC

 * postgresql://postgres:***@127.0.0.1:5432/pagila
10 rows affected.

[(1, 'Australia', Decimal('2328.27')),
 (1, 'Canada', Decimal('2417.35')),
 (2, 'Australia', Decimal('4895.10')),
 (2, 'Canada', Decimal('4736.78')),
 (3, 'Australia', Decimal('12060.33')),
 (3, 'Canada', Decimal('11826.23')),
 (4, 'Australia', Decimal('13604.36')),
 (4, 'Canada', Decimal('13822.70')),
 (5, 'Australia', Decimal('271.08')),
 (5, 'Canada', Decimal('243.10'))]

In [11]:
%%time
%%sql
SELECT dd.month, ds.country, SUM(fs.sales_amount) as revenue
FROM factsales fs
JOIN dimDate dd ON (fs.date_key = dd.date_key)
JOIn dimstore ds ON (fs.store_key = ds.store_key)
GROUP BY grouping sets ((), dd.month, ds.country, (dd.month,ds.country))

 * postgresql://postgres:***@127.0.0.1:5432/pagila
18 rows affected.
Wall time: 42 ms

[(1, 'Australia', Decimal('2328.27')),
 (1, 'Canada', Decimal('2417.35')),
 (1, None, Decimal('4745.62')),
 (2, 'Australia', Decimal('4895.10')),
 (2, 'Canada', Decimal('4736.78')),
 (2, None, Decimal('9631.88')),
 (3, 'Australia', Decimal('12060.33')),
 (3, 'Canada', Decimal('11826.23')),
 (3, None, Decimal('23886.56')),
 (4, 'Australia', Decimal('13604.36')),
 (4, 'Canada', Decimal('13822.70')),
 (4, None, Decimal('27427.06')),
 (5, 'Australia', Decimal('271.08')),
 (5, 'Canada', Decimal('243.10')),
 (5, None, Decimal('514.18')),
 (None, None, Decimal('66205.30')),
 (None, 'Canada', Decimal('33046.16')),
 (None, 'Australia', Decimal('33159.14'))]