In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
!PGPASSWORD=[Rangashri123] createdb -h 127.0.0.1 -U postgres pagila

'PGPASSWORD' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = '[Rangashri123]'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:[Rangashri123]@127.0.0.1:5432/pagila

In [5]:
%sql $conn_string

'Connected: postgres@pagila'

In [22]:
!PGPASSWORD=[Rangashri123] createdb -h 127.0.0.1 -U postgres pagila

'PGPASSWORD' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila

SyntaxError: invalid syntax (<ipython-input-3-04f28c5c5039>, line 1)

In [11]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nStores\t\t=", nStores[0][0])
print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t\t=", nCustomers[0][0])
print("nRentals\t\t=", nRentals[0][0])
print("nPayment\t\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nCity\t\t=", nCity[0][0])
print("nCountry\t\t=", nCountry[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
nStores		= 2
nFilms		= 1000
nCustomers		= 599
nRentals		= 16044
nPayment		= 15770
nStaff		= 2
nCity		= 600
nCountry		= 109

In [12]:
%%sql
select min(payment_date) as start, max(payment_date) as end from payment;

 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.

[(datetime.datetime(2017, 1, 24, 21, 21, 56, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-360, name=None)), datetime.datetime(2017, 5, 14, 13, 44, 29, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-300, name=None)))]

In [13]:
%%sql 
select distinct district, count(city_id) as n from address
group by district
order by n desc, district asc
limit 10;

 * postgresql://postgres:***@127.0.0.1:5432/pagila
10 rows affected.

[('Buenos Aires', 10),
 ('California', 9),
 ('Shandong', 9),
 ('West Bengali', 9),
 ('So Paulo', 8),
 ('Uttar Pradesh', 8),
 ('England', 7),
 ('Maharashtra', 7),
 ('Southern Tagalog', 6),
 ('Gois', 5)]